.form {
    display: flex;
    flex-direction: column;
}
.input-delay {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    box-sizing: border-box;
}
.input-delay:hover {
    border: 1px solid #000;
}
.input-delay:active {
    border: 1px solid #4e75ff;
}
.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.fieldset {
    border-radius: 4px;
    stroke-width: 1px;
    stroke: #808080;
    width: 360px;
    height: 66px;
    margin-bottom: 24px;
    box-sizing: border-box;
}
.fieldset:hover,:active {
    stroke: #000;
}
.radio-btn-box {
    display: flex;
    gap: 48px;
}
.btn {
    border-radius: 8px;
    padding: 8px 16px;
    width: 360px;
    height: 40px;
    background-color: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
}
.btn:hover {
    background-color: #6c8cff;
}
.wave-stroke {
    border-bottom: 2px solid #b5ea7c;
    border-radius: 4px;
    padding: 20px;
    width: 383px;
    height: 64px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #fff;
}